# ============================================
# GLOBAL
# ============================================
MYSQL_ROOT_PASSWORD=secret
REDIS_PORT=6379
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
NIFI_PORT=8443
NIFI_USERNAME=admin
NIFI_PASSWORD=reportservice

# ============================================
# AUTH SERVICE
# ============================================
AUTH_APP_ENV=local
AUTH_APP_DEBUG=true
AUTH_APP_KEY=
AUTH_DB_DATABASE=auth_db
AUTH_DB_USERNAME=root
AUTH_DB_PASSWORD=secret
AUTH_PORT=8001

# ============================================
# CATALOG SERVICE
# ============================================
CATALOG_APP_ENV=local
CATALOG_APP_DEBUG=true
CATALOG_APP_KEY=
CATALOG_DB_DATABASE=catalog_db
CATALOG_DB_USERNAME=root
CATALOG_DB_PASSWORD=secret
CATALOG_PORT=8002

# ============================================
# APPOINTMENT SERVICE
# ============================================
APPOINTMENT_APP_ENV=local
APPOINTMENT_APP_DEBUG=true
APPOINTMENT_APP_KEY=
APPOINTMENT_DB_DATABASE=appointment_db
APPOINTMENT_DB_USERNAME=root
APPOINTMENT_DB_PASSWORD=secret
APPOINTMENT_PORT=8003

# ============================================
# NOTIFICATION SERVICE
# ============================================
NOTIFICATION_APP_ENV=local
NOTIFICATION_APP_DEBUG=true
NOTIFICATION_APP_KEY=
NOTIFICATION_DB_DATABASE=notification_db
NOTIFICATION_DB_USERNAME=root
NOTIFICATION_DB_PASSWORD=secret
NOTIFICATION_PORT=8004

# ============================================
# TREATMENT SERVICE
# ============================================
TREATMENT_APP_ENV=local
TREATMENT_APP_DEBUG=true
TREATMENT_APP_KEY=
TREATMENT_DB_DATABASE=treatment_db
TREATMENT_DB_USERNAME=root
TREATMENT_DB_PASSWORD=secret
TREATMENT_PORT=8005

# ============================================
# REPORT SERVICE
# ============================================
REPORT_APP_ENV=local
REPORT_APP_DEBUG=true
REPORT_APP_KEY=
REPORT_DB_DATABASE=report_db
REPORT_DB_USERNAME=root
REPORT_DB_PASSWORD=secret
REPORT_PORT=8006